* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  background-color: #8ef4f8;
  color: #00334d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-white {
  color: #fff;
}
h1 {
  line-height: 1;
  
}
h1,
h2 {
  letter-spacing: 2px;
}
h1,
h2,
h3 {
  font-family: 'Secular One', sans-serif;
}
a {
  text-decoration: none;
}
.wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.bumper {
  padding: 0 10px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.flex {
  display: flex;
}
.flex-col {
  flex-flow: column;
}
.jc-space-between {
  justify-content: space-between;
}
.ai-center {
  align-items: center;
}
.underlined {
  position: relative;
  margin-bottom: 21px;
}
.underlined:after {
  content: "";
  margin: 10px 0;
  height: 1px;
  background-color: #29768a;
  width: 100%;
  position: absolute;
  bottom: -21px;
}

.mb-sm {
  margin-bottom: 15px;
}
.mb-md {
  margin-bottom: 40px;
}
.mb-lg {
  margin-bottom: 65px;
}

.mt-sm {
  margin-top: 15px;
}
.mt-md {
  margin-top: 40px;
}
.mt-lg {
  margin-top: 65px;
}

.mr-sm {
  margin-right: 15px;
}
.mr-md {
  margin-right: 40px;
}
.mr-lg {
  margin-right: 65px;
}

.ml-sm {
  margin-left: 15px;
}
.ml-md {
  margin-left: 40px;
}
.ml-lg {
  margin-left: 65px;
}

.pb-sm {
  padding-bottom: 15px;
}
.pb-md {
  padding-bottom: 40px;
}
.pb-lg {
  padding-bottom: 65px;
}

.pt-sm {
  padding-top: 15px;
}
.pt-md {
  padding-top: 40px;
}
.pt-lg {
  padding-top: 65px;
}

.pr-sm {
  padding-right: 15px;
}
.pr-md {
  padding-right: 40px;
}
.pr-lg {
  padding-right: 65px;
}

.pl-sm {
  padding-left: 15px;
}
.pl-md {
  padding-left: 40px;
}
.pl-lg {
  padding-left: 65px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: -1;
  background-image: url(./bgimg.jpg);
}

.boxed {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 20px 15px 25px;
}
.half-width {
  max-width: 35%;
  flex-basis: 35%;
}
input[type="number"] {
  text-align: center;
  max-width: 146px;
  width: 100%;
  font-size: 2em;
  background: transparent;
  border: none;
  border-bottom: 2px solid #00334d;
  font-family: 'Secular One', sans-serif;
  font-style: italic;
  color: #00334d;
}
input[type="number"]:focus {
  outline: 2px solid rgba(35, 223, 18, .8)
}

/* cool radio boxes */
/* The check */
.check {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default box */
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom box */
.mark {
  position: absolute;
  top: 12px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.check:hover input ~ .mark {
  background-color: #cceeff;
}

/* When the box is checked, add a blue background */
.check input:checked ~ .mark {
  background-color: #00334d;
}

/* Create the mark/indicator (hidden when not checked) */
.mark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the mark when checked */
.check input:checked ~ .mark:after {
  display: block;
}

/* Style the mark/indicator */
.check .mark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}